<!--
 * @Description: 
 * @Author: Fu Fei
 * @Date: 2020-12-20 23:52:37
 * @LastEditTime: 2020-12-22 13:23:04
 * @LastEditors: Fu Fei
 * @FilePath: \emit\src\projects\custom\empty-project\public\pages\index\index.hbs
-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="{{ base_url }}js/vendor_dll.js"></script>
    </head>

    <body>
        ccc
    </body>

</html>
